<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/library/Font-Awesome/all.css" th:href="@{/css/library/Font-Awesome/all.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/library/icheck-bootstrap/icheck-bootstrap.min.css" th:href="@{/css/library/icheck-bootstrap/icheck-bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/library/admin-lte/adminlte.min.css" th:href="@{/css/library/admin-lte/adminlte.min.css}">

</head>
<body class="login-page" style="min-height: 466px;">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="javascript:;" class="h1">Admin</a>
            </div>

            <div class="card-body">
                <p class="login-box-msg">Sign in to start your JWT Token</p>

                <form id="form-login">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>

                        <div class="col-4">
                            <button type="button" class="btn btn-primary btn-block" id="sign-in">Sign In</button>
                        </div>

                    </div>
                </form>

                <!--
                <div class="social-auth-links text-center mt-2 mb-3">
                    <a href="javascript:;" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Facebook Signing is Prepareing
                    </a>
                    <a th:href="@{/oauth2/authorization/google}" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                    <a th:href="@{/oauth2/authorization/naver}" class="btn btn-block btn-success">
                        <i class="fab fa-envira mr-2"></i> Sign in using Naver
                    </a>
                </div>
                -->

                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>

                <p class="mb-0">
                    <a th:href="@{/secure/register}" class="text-center">Register a new membership</a>
                </p>
            </div>
        </div>
    </div>

    <script src="/static/js/library/jquery/jquery.min.js" th:src="@{/js/library/jquery/jquery.min.js}"></script>

    <script th:inline="javascript">
        var login = function(e) {
            e.preventDefault();

            var data = {
                "username": $('input[name=username]').val(),
                "password": $('input[name=password]').val(),
            };

            $.ajax({
                type : "POST",
                contentType: 'application/json',
                data : JSON.stringify(data)
            }).done(function(result) {
                location.href = '/';
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) { // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                console.log(XMLHttpRequest);
                console.log(textStatus);
                console.log(errorThrown);
                console.log("$.Ajax 통신 실패.");
            }).always(function () {});
        }

        $(document).keyup(function(event) {
            if (event.which === 13)
                login(event);
        });

        $(document).ready()
            .on('click', '#sign-in', login);
    </script>
</body>
</html>