<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Register</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/library/Font-Awesome/all.css" th:href="@{/css/library/Font-Awesome/all.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/library/icheck-bootstrap/icheck-bootstrap.min.css" th:href="@{/css/library/icheck-bootstrap/icheck-bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/library/admin-lte/adminlte.min.css" th:href="@{/css/library/admin-lte/adminlte.min.css}">

</head>
<body class="register-page" style="min-height: 542px;">

<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b>Admin</b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Register a new membership</p>
            <form id="form-register">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Full name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control only-number" name="tel" placeholder="Tel Number">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <button type="button" class="btn btn-primary btn-block" id="register-user">Register</button>
                    </div>

                </div>
            </form>
            <!--
            <div class="social-auth-links text-center">
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i>
                    Sign up using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i>
                    Sign up using Google+
                </a>
            </div>
            -->
            <a th:href="@{/login}" class="text-center">I already have a membership</a>
        </div>

    </div>
</div>

<script src="/static/js/common/util.js" th:src="@{/js/common/util.js}"></script>
<script src="/static/js/library/jquery/jquery.min.js" th:src="@{/js/library/jquery/jquery.min.js}"></script>

<script th:inline="javascript">
    var ready = function() {
        onlyNumberKeyEvent({className: "only-number"});
    }

    var registerUser = function(e) {
        e.preventDefault();
        var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/g;

         var data = {
            "username": $('input[name=username]').val(),
            "email": $('input[name=email]').val(),
            "password": $('input[name=password]').val(),
            "tel": $('input[name=tel]').val().replaceAll(regExp, '')
        };

        $.ajax({
            url : "/secure/create-user",
            type : "POST",
            dataType: 'json',
            contentType: 'application/json',
            data : JSON.stringify(data)
        }).done(function(result) {
            console.log(result);
            if (result.code === 200)
                location.href = '/login';
            else
                alert(result.message);

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) { // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
            console.log("$.Ajax 통신 실패.");
        }).always(function () {});
    }

    $(document).ready(ready)
        .on('click', '#register-user', registerUser);
</script>
</body>
</html>