<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <th:block th:fragment="left" th:with="YNType = ${T(com.practice.growth.domain.types.YNType)}, URL = ${#httpServletRequest.requestURI}, UrlArray = ${#strings.arraySplit(URL, '/')}">
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Colin Admin</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Interface
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <th:block th:if="${not #lists.isEmpty(menus)}" th:each="side : ${menus}">
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                            <i class="fas fa-fw fa-folder"></i>
                            <span th:text="${side.menuName}">Pages</span>
                        </a>
                        <th:block th:if="${not #lists.isEmpty(side.children)}">
                            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <a th:each="child : ${side.children}" class="collapse-item" th:href="${child.url}" th:text="${child.menuName}">Login</a>
                                </div>
                            </div>
                        </th:block>
                    </li>
                </th:block>
            </ul>
            <!-- End of Sidebar -->
        </th:block>
    </body>
</html>
